mixin link(id, href, label)
	li
		a(href="#{href}", id="#{id}") #{label}

header#top
	a#header_logo(href="/") Toolshed
	nav
		ul.navlist
			mixin link('search','','Search')
			mixin link('addApp','/submitapp','Add App')