footer#bottom &copy 2012 Taylor O'Brien

script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
script
	window.jQuery || document.write('<script src="/javascripts/jquery-1.7.2.min.js"><\\/script>')
script(src='/javascripts/mosaic.1.0.1.min.js')
script(src='/javascripts/main.js')